*.bit
*.ltx
*.zip
*.log
*.o
*.ko
*.cmd
*.mod
*.mod.c
*.axi
*.so
*.sim
*.d
*.a
*.backup.jou
vivado.log
vivado.jou
xvlog.pb
xvlog.log
xsim.dir
seed
__pycache__
usage_statistics_webtalk.html
usage_statistics_webtalk.xml
nf_register_defines.h
reg_defines.h
lib_pkg_v1_0_rfs.vhd
lib_srl_fifo_v1_0_rfs.vhd
rwaxi
rkd
xgui
ip_repo
ip_proj
proj
project
component.xml
Module.symvers
modules.order
xapp1151_cam_v1_1
sw/driver/.updated.txt
hw/lib/std/axi_sim_transactor_v1_0_0/hdl/axis_sim_pkg/
hw/lib/xilinx/cam_v1_1_0/hdl/vhdl/cam/*.vhd
hw/lib/xilinx/tcam_v1_1_0/hdl/vhdl/tcam/*.vhd
hw/projects/*/test/Makefile
reg_defines_*.py
hw/projects/reference_nic/sw/
hw/projects/reference_switch/sw/
hw/projects/reference_switch_lite/sw/
tools/scripts/NFTest/testcheck.pyc
